* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.banner {
    height: 250px;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(34, 34, 34, 0)), url("https://s32.postimg.org/81u9ug4l1/unsplash_min.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner h1 {
    font-size: 28px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ECECEC;
    font-weight: 100;
    text-align: center;
    padding: 10px;
}
.banner p {
    color: #ECECEC;
    font-weight: 100;
    font-size: 16px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
}
.hero {
    width: 100%;
    height: 800px;
}
.hero > * {
  position: absolute;
  width: 100%;
}
.photos {
  position: relative;
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  text-align: center;
  display: block;
  width: 100%;
  margin: 0 auto;

}
.photos img {
  max-width: 80%;
  display: block;
  text-align: center;
  margin: 1em auto;
}
.ng-enter {
  animation: fadeIn 0.5s;
}
.ng-leave {
  animation: fadeOut 0.2s;
}


nav {
    height: 60px;
    width: 100%;
    background: #333;
    z-index: 100;
    position: relative;
}
nav ul {
    float: right;
    position: relative;
    z-index: 100;
}
nav li {
    list-style-type: none;
    display: inline-block;
    margin-top: 1.1em;
    position: relative;
    z-index: 100;
}
nav a {
    text-decoration: none;
    color: white;
    margin: 1em;
}

/*Tcon Style*/

.tcon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: none;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 30px;
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
.tcon > * {
    display: block;
}
.tcon:hover, .tcon:focus {
    outline: none;
}
.tcon::-moz-focus-inner {
    border: 0;
}
.tcon-menu__lines {
    display: inline-block;
    height: 2.71429px;
    width: 30px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: white;
    position: relative;
}
.tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 2.71429px;
    width: 30px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: white;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center;
    width: 100%;
}
.tcon-menu__lines::before {
    top: 10px;
}
.tcon-menu__lines::after {
    top: -10px;
}
.tcon-transform .tcon-menu__lines {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
}
.tcon-menu--xcross {
    width: auto;
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
    background: transparent;
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 30px;
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}
.tcon-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


.contact {
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.input-group input {
    background: none;
    color: #333;
    font-size: 18px;
    display: inline-block;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 2px solid #999;
    width: 250px;
    padding: 15px 0px;
}
input:focus, input:active {
    outline: none;
}
.input-group {
    display: inline-block;
    position: relative;
    margin: 1.5em auto;
}

/* Add underline */

.bar {
    position: relative;
    display: block;
    width: 250px;
}
.bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0px;
    bottom: 0px;
    position: absolute;
    background: #34495e;
    transition: 150ms ease-in-out;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* Animate label to shoot up */

.input-group label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    font-family: 'Roboto', Cambria, Times New Roman, Times, sans-serif;
    font-style: italic;
    font-size: 18px;
    color: #999;
    pointer-events: none;
    transition: 175ms ease-in-out;
}
input:focus ~ label, input.has-value ~ label {
    top: 0px;
    font-size: 12px;
    color: #333;
}
.contact input[type="submit"] {
    padding: 5px 30px;
    background: #3498db;
    color: white;
    border: none;
}
.contact input[type="submit"]:hover {
    background: #2980b9;
}
.container {
  text-align: center;
}

@media (max-width: 600px) {
  .tcon {
    display: flex;
    float: right;
    margin-right: 2em;
  }
  nav ul {
    display: none;
    width: 100%;
    background: #333;
    height: auto;
  }
  nav li {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
  }
}
