<div class="about-me">
    <div class="container">
        <h1> About Me</h1>
        <div class="line-break"></div>
        <img class="headshot" src="https://cldn0.fiverrcdn.com/fiverr/t_profile_original/profile/photos/2787639/original/Headshot.jpg" alt="Headshot" />
        <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, US</p>
        <p class="description">
            As seen on Fiverr, I am a web designer and video editor with both freelance and company experience. I use tools and languages such as Final Cut Pro, Sketch, Photoshop, HTML, CSS, and JavaScript to create stunning videos and webpages. With this package
            that is sold exclusively on Fiverr.com, you will be getting a single page website that is very similar to this one. For $25, you won't find a better deal anywhere else.
        </p>

        <h1>Work I've Done</h1>
        <div class="row">
            <div class="col-md-4">
              <img src="https://s14.postimg.org/66j7vw9cx/QACompressed.jpg" />
            </div>
            <div class="col-md-4">
              <img src="https://s12.postimg.org/ujv9noun1/Fiverr_Thumbnail_min.jpg" />
            </div>
            <div class="col-md-4">
              <img src="https://s16.postimg.org/8ygjp7uid/Screen_Shot_2016_08_24_at_4_03_26_PM.png" />
            </div>
        </div>
    </div>
</div>

