<div class="about-me">
    <div class="container">
        <h1>About</h1>
        <div class="line-break"></div>
        <img class="headshot" src="https://cldn0.fiverrcdn.com/fiverr/t_profile_original/profile/photos/2787639/original/Headshot.jpg" alt="Headshot" />
        <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Colorado, US</p>
        <p class="description">
            I am a web designer with both freelance and company experience. I use tools and languages such as Sketch, Photoshop, HTML, CSS, and JavaScript to create stunning webpages.
        </p>

        <h2>Check out some of my work</h2>
        <div class="row">
            <div class="col-md-4">
              <a href="https://www.qandabats.com" target="_blank"><img src="https://s14.postimg.org/66j7vw9cx/QACompressed.jpg" /></a>
            </div>
            <div class="col-md-4">
              <a href="https://www.behance.net/andrewtg" target="_blank"><img src="https://s15.postimg.org/ass3vywuj/Showcase_2.jpg" /></a>
            </div>
            <div class="col-md-4">
              <img src="https://s4.postimg.org/6cvgldkf1/Showcase_3.jpg" />
            </div>
        </div>

        <h2>What others have said about me</h2>
        <div id="reviews">
          <div class="profile">
            <h4>"Andrew is one of those unicorns that is such a talented designer and developer."</h4>
            <p>
              -Courtney Heitman, UX Developer
            </p>
          </div>
          <div class="profile">
            <h4>"Andrew has a great eye for design... He is intelligent and incredibly talented."</h4>
            <p>
              -<a href="http://nkirkman.com/about/" target="_blank">Nathan Kirkman</a>, UX Designer
            </p>
          </div>
          <div class="profile">
            <h4>"I can count on Andrew to take on any task large or small with thoroughness and attention to detail."</h4>
            <p>
              -Elizabeth Davies, Senior Front-End Developer
            </p>
          </div>
          <div class="profile">
            <h4>"Being able to pull in Andrew as a resource has been a life saver - good job!""</h4>
            <p>
              -Ian Roberts, Front-End Developer
            </p>
          </div>
        </div>
        <img class="top" src="https://s18.postimg.org/yh8ak80sp/Arrow_Up.jpg" onclick="goToTop()"/>
    </div>
</div>
