<div class="contact">
    <h1>Contact Me</h1>
    <form class="myForm" action="https://formspree.io/andrewgarrison5@gmail.com" method="post">
        <div class="input-group">
            <input id="name" name="Name" type="text">
            <span class="bar"></span>
            <label for="name">Name</label>
        </div>
        <div class="input-group">
            <input id="email" type="Email" name="email" required>
            <span class="bar"></span>
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <input id="country" type="text" name="Message" required>
            <span class="bar"></span>
            <label for="country">Message</label>
        </div>
        <div>
            <input class="send-form" type="submit" value="Send" />
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {

        $(".input-group input, .input-group textarea").focusout(function() {
            var text_val = $(this).val();
            if (text_val === "") {
                $(this).removeClass("has-value");
            } else {
                $(this).addClass("has-value");
            }
        });

    });
</script>
