<div class="container">
    <h1>I Design And Develop Websites That Are...</h1>
    <div class="line-break"></div>
    <div class="row">
        <div class="col-md-4">
            <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
            <h3>Professional</h3>
            <p>
                I will provide you with the look and feel of pure professionalism that you need to get noticed.
            </p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-bolt fa-3x" aria-hidden="true"></i>
            <h3>Fast</h3>
            <p>
                No need to worry about users wating for content to load. I compress all images, minify files, and load necessary scripts asynchronously to improve loading speed.
            </p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
            <h3>Responsive</h3>
            <p>
                All sites I create are 100% mobile responsive. Go ahead, check out this site on your phone and see for yourself.
            </p>
        </div>
    </div>
</div>
<section class="img-break">
    <h3>"I can count on Andrew to take on any task large or small with thoroughness and attention to detail."</h3>
    <a id="testimonials" href="" onClick="changeHash()"><button class="contact-btn">See What Others Have Said</button></a>
  </section>
<section class="contact-me">
    <h2>Have an idea you want to talk about?</h2>
    <a href="#/contact"><button class="contact-btn">Contact Me</button></a>
</section>
