<div class="container">
    <h1>The greatest deal online</h1>
    <div class="line-break"></div>
    <div class="row">
        <div class="col-md-4">
            <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
            <h3>Professional</h3>
            <p>
                Never be worried again to show people your website. I will provide you with the look and feel of pure professionalism.
            </p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-bolt fa-3x" aria-hidden="true"></i>
            <h3>Fast</h3>
            <p>
                This site is lightning fast, so you don't need to worry about users wating around waiting for content to load.
            </p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
            <h3>Responsive</h3>
            <p>
                Go ahead, check out the site on your phone. It's fully responsive so it will look great on any device.
            </p>
        </div>
    </div>
</div>
<section class="img-break">
    <h2>For just <span>$25</span> Dollars this could be your website</h2>
</section>
<section class="contact-me">
    <h2>Dying to know more?</h2>
    <a href="#/contact">
        <button class="contact-btn">Contact Me</button>
    </a>
</section>
