<div class="skills container">
    <h1>Skills</h1>
    <div class="bars">
        <label>HTML</label>
        <div class="html"><span><h3>75%</h3></span></div>
        <label>CSS</label>
        <div class="css"><span><h3>85%</h3></span></div>
        <label>JS</label>
        <div class="javascript"><span><h3>55%</h3></span></div>
    </div>
    <div class="about-skills">
      <p>
        I still have a lot to learn but that's the beauty of web development. No matter how much knowledge you have in one particular category,
        none of that knowledge will be relevant in 5 years. It's a never ending learning process and that's why I love Front-End Development.
      </p>
    </div>
    <div class="more-skills">
      <h3>Some other tools and languages I have experience with</h3>
      <p>
        •SASS / LESS <br />
        •AngularJS (What this site is built on)<br />
        •Java<br />
        •Gulp<br />
        •Photoshop<br />
        •Sketch
      </p>
    </div>
</div>

